body {
	position: relative;
	text-align: center;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}

#landing {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
	position: absolute;
	background-color: #eee;
	left: 0px;
	transition: left 1s;
}

#startButton {
padding: 15px 25px;
font-size: 48px;
font-weight: bold;
}

#workout {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
	background-color: #ddd;
	position: absolute;
	right: -100vw;
	transition: right 1s;
}

#progressBar {
	width: 100%;
	margin: 14px 0;
}

#progressBar p {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0px;
	border-radius: 15px;
	background-color: #b2b2b2;
	color: #fff;
}

#excerciseGlyph {
	height: 365px;
	max-width: 500px;
	margin: 0 auto;
	background-image:url('imgs/verticalPoster.png');
	background-repeat:no-repeat;
	transition: background-position 1s;
}

/*
	for the large verticalPoster
*/
.jumpingjacks {background-position:50% 0px;}
.wallsits {background-position:50% -415px;}
.pushups {background-position:50% -915px;}
.situps {background-position:50% -1350px;}
.chairstepups {background-position:50% -1775px;}
.squats {background-position:50% -2212px;}
.chairdips {background-position:50% -2775px;}
.plank {background-position:50% -3215px;}
.highknees {background-position:50% -3610px;}
.lunge {background-position:50% -4125px;}
.push-upandrotate {background-position:50% -4620px;}
.sideplank {background-position:50% -5000px;}

